* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

* :active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*==================================*/
.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page__container {
    display: flex;
    height: 100%;
}

.page__aside {
    flex: 0 1 30%;
    border-right: 1px solid #000;
}

.aside {
}

.aside__wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.aside__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.aside__item {
    padding: 5px;
    border-bottom: 1px solid #c90505;
}

.aside__title {

}

.aside__list {
}

.page__body {
    flex: 1 1 auto;
    border-right: 1px solid #000;
}

.body {
}

.body__wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.body__title {
}

.body__list {
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.body__item {
    padding: 5px;
    border: 1px solid black;
    max-width: 300px;
}

.body__name {
    text-align: center;
    font-size: 24px;
}

.body__img {
    width: 100%;
    object-fit: cover;
}

.page__info {
    flex: 0 1 30%;
}

.info {
}

.info__wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.info__title {
}

.info__list {
}

@media (max-width: 767.98px) {
    .page__container {
        flex-direction: column;
    }

    .page__aside {
        flex: 0 1 auto;
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .page__body {
        flex: 0 1 auto;
        border-right: none;
        border-bottom: 1px solid #000;
    }

    .page__info {
        flex: 0 1 auto;
    }
}